---
title: index
---

<!DOCTYPE html>
<html>
  <head></head>
  <body style='font-size:300%'>
    <p>Slides:
      <a herf='https://wentzell.github.io/Cpp_and_Tools_Bootcamp/'>
	<code>https://wentzell.github.io/Cpp_and_Tools_Bootcamp/</code>
      </a>
    </p>
    <p>Repo:
      <a href='https://github.com/Wentzell/Cpp_and_Tools_Bootcamp'>
	<code>https://github.com/Wentzell/Cpp_and_Tools_Bootcamp</code>
      </a>
    </p>
    <h2>Slides</h2>
    <ul>
      {% for p in site.pages %}{% if p.title %}{% unless p.url contains '.html' %}{% unless p.url contains '/reveal.js/' -%}
      <li>
        <a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>
      </li>
      {% endunless %}{% endunless %}{% endif %}{% endfor -%}
    </ul>
  </body>
</html>
